In [11]:
import mysql.connector
import os
from dotenv import load_dotenv

In [12]:
load_dotenv()

True

In [17]:
user = os.getenv("MYSQL_USER")
password = os.getenv("MYSQL_PASSWORD")
host = os.getenv("MYSQL_HOST")
database = os.getenv("MYSQL_DATABASE_NAME")

In [18]:
from cayman_office_system import *

In [19]:
ts = get_df_timeseries_by_ticker("007340 KS")
ts

OperationalError: 2013 (HY000): Lost connection to MySQL server during query

In [3]:
type(ts.index[0])

str

In [4]:
ts.loc['2024-09-03', 'price_last']

92500

In [21]:
ts[ts.index=='2024-09-03']

            price_last
date
2024-09-03       92500

In [ ]:
# 007340 KS

In [20]:
import mysql.connector
import os
from dotenv import load_dotenv
import pandas as pd

load_dotenv()

user = os.getenv("MYSQL_USER")
password = os.getenv("MYSQL_PASSWORD")
host = os.getenv("MYSQL_HOST")
database = os.getenv("MYSQL_DATABASE_NAME")

connection = mysql.connector.connect(user=user, password=password, host=host, database=database)
cursor = connection.cursor()

In [21]:
query = f"SELECT dt, pr1 FROM p_ks_007340 WHERE dt = '2001-01-03'"
cursor.execute(query)
data = cursor.fetchall()
data

[(datetime.date(2001, 1, 3), 2272)]

In [23]:
data[-1][-1]

2272

In [8]:
cols = cursor.description
cols

[('dt', 10, None, None, None, None, 1, 16520, 63),
 ('pr1', 3, None, None, None, None, 1, 32768, 63)]

In [9]:
df = pd.DataFrame(data, columns=[col[0] for col in cols])
df

              dt    pr1
0     2001-01-02   2272
1     2001-01-03   2272
2     2001-01-04   2281
3     2001-01-05   2272
4     2001-01-08   2320
...          ...    ...
5821  2024-09-03  92500
5822  2024-09-04  90100
5823  2024-09-05  91900
5824  2024-09-06  90400
5825  2024-09-09  94200

[5826 rows x 2 columns]