In [3]:
from cayman_office_system import *

INFO:shining_pebbles:Shining Pebbles package initialized
INFO:numexpr.utils:Note: NumExpr detected 10 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
INFO:numexpr.utils:NumExpr defaulting to 8 threads.
/Users/juneyoungpark/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [4]:
holdings = Holdings()
holdings.info

- order date: 2024-09-02
- order date: 2024-09-02
- order date: 2024-09-05
- order date: 2024-09-05
- order date: 2024-09-06
- order date: 2024-09-06
- order date: 2024-09-09
- order date: 2024-09-09

,ticker,name_kr,name,amount,price_last,evaluation_krw,evaluation_usd,sector
0,003030 KS,세아제강지주,SEAH STEEL HOLDINGS CORP,2200,167400.0,368280000.0,275865.168539,Materials
1,007340 KS,DN오토모티브,DN AUTOMOTIVE CORP,8500,89900.0,764150000.0,572397.003745,Consumer Discretionary
2,271560 KS,오리온,ORION CORP/REPUBLIC OF KOREA,5000,87300.0,436500000.0,326966.292135,Consumer Staples
3,282690 KS,동아타이어,DONG AH TIRE & RUBBER CO LTD,2500,13500.0,33750000.0,25280.898876,Consumer Discretionary

In [5]:
orders_20240910 = [{'Symbol': '007340 KS', 'Side': 'B', 'Amount': 3500},
 {'Symbol': '003030 KS', 'Side': 'B', 'Amount': 200},
 {'Symbol': '271560 KS', 'Side': 'B', 'Amount': 1000},
 {'Symbol': '000660 KS', 'Side': 'B', 'Amount': 1200}]

In [6]:
instruction = OrderInstruction(date='2024-09-10')
instruction

In [7]:
instruction.set_orders(orders_20240910)

{'Name': None, 'Account': '715543911501', 'Side': 'B', 'Broker': 'Samsung', 'Symbol': '007340 KS', 'Amount': 3500, 'Order Type': 'MKT', 'Limit': None, 'Instructions': 'VWAP', 'CFD': None, 'Rationale': 'Currently trading at a PER of less than 3, indicating extreme undervaluation. The order backlog is steadily increasing, and favorable conditions (costs/FX) suggest consistent improvement in performance over the next 5 years. A cumulative profit increase of over 100% is possibled. In particular, IPO of the core subsidiary is expected within the next year. The target market cap presented by underwriters is at least five times the current market cap of the parent company, indicating a significant revaluation event is likely within the next year.'}
{'Name': None, 'Account': '715543911501', 'Side': 'B', 'Broker': 'Samsung', 'Symbol': '003030 KS', 'Amount': 200, 'Order Type': 'MKT', 'Limit': None, 'Instructions': 'VWAP', 'CFD': None, 'Rationale': 'The company is trading at a PER of less than 3, indicating extreme undervaluation. The market’s outlook on the future of the steel pipe industry is overly pessimistic. The current stock price does not yet reflect the upcoming operation of the UK offshore wind tower substructure plant, which is set to begin by the end of this year. The company is transitioning from a focus on fossil energy-related products to renewable energy products.'}
{'Name': None, 'Account': '715543911501', 'Side': 'B', 'Broker': 'Samsung', 'Symbol': '271560 KS', 'Amount': 1000, 'Order Type': 'MKT', 'Limit': None, 'Instructions': 'VWAP', 'CFD': None, 'Rationale': "The company has been overlooked by the market due to its acquisition of a biotech firm focused on new drug development, which is unrelated to its traditional confectionery business. It is currently the most undervalued stock in the food and beverage sector. However, starting in the second half of the year, the company's core business is expected to see significant performance improvements, and the acquisition of the biotech company will gradually prove to have been a sound strategic move."}
{'Name': None, 'Account': '715543911501', 'Side': 'B', 'Broker': 'Samsung', 'Symbol': '000660 KS', 'Amount': 1200, 'Order Type': 'MKT', 'Limit': None, 'Instructions': 'VWAP', 'CFD': None, 'Rationale': 'With the recent drop, PER has fallen below 5x, creating an attractive valuation opportunity. Concerns about AI investment are expected to ease after this fall. We have plans to engage to prevent profits and cash from being transferred to SK Holdings and its affiliates.'}

In [8]:
instruction.generate()

,Name,Account,Side,Broker,Symbol,Amount,Order Type,Limit,Instructions,CFD,Rationale
0,DN AUTOMOTIVE CORP,715543911501,B,Samsung,007340 KS,3500,MKT,None,VWAP,None,"Currently trading at a PER of less than 3, ind..."
1,SEAH STEEL HOLDINGS CORP,715543911501,B,Samsung,003030 KS,200,MKT,None,VWAP,None,The company is trading at a PER of less than 3...
2,ORION CORP/REPUBLIC OF KOREA,715543911501,B,Samsung,271560 KS,1000,MKT,None,VWAP,None,The company has been overlooked by the market ...
3,SK HYNIX INC,715543911501,B,Samsung,000660 KS,1200,MKT,None,VWAP,None,"With the recent drop, PER has fallen below 5x,..."

In [9]:
instruction.export_as_excel()

DataFrame has been saved to /Users/juneyoungpark/dev/module-cayman_office_system/cayman_office_system/dataset-generate/genearted_at2024091017-Life Asset trade instruction 20240910.xlsx

In [16]:
instruction.show_current_price()

                           Name     Symbol  Amount  Price_last  Evaluation_krw
0            DN AUTOMOTIVE CORP  007340 KS    3500     94200.0     329700000.0
1      SEAH STEEL HOLDINGS CORP  003030 KS     200    174700.0      34940000.0
2  ORION CORP/REPUBLIC OF KOREA  271560 KS    1000     88800.0      88800000.0
3                  SK HYNIX INC  000660 KS    1200    157000.0     188400000.0